/*Configuracion*/
@font-face {
    font-family: 'GraphikTT';
    src: url('assets/fonts/GraphikRegular.otf')format('truetype');
    font-style: normal;
    font-weight: normal;
}
@font-face {
    font-family: 'GraphikTT';
    src: url('assets/fonts/GraphikBold.otf')format('truetype');
    font-style: normal;
    font-weight: bold;
}
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'GraphikTT',Arial,sans-serif;
    scroll-behavior: smooth;
    /* overflow-x: hidden; */
}
a{
    text-decoration: none;
}
:root{
    --primary_color: #D61F1F;
    --secondary-color: #BB2016;
    --light-red: #E10000;
    --red-type3:#D61F1F;
    --dark-red:#7D0101;
    --opacity-red:#D94D4D;
    --text-red:#D91919;
    --border-red:#BD1414;
    --gray: #ACB2B5;
    --white:white;
    --black:black;
}
body{
    background-color: var(--white);
    /* padding-top: 145px; */
}
/*prenav*/
.prenav{
    background-color: var(--dark-red);
    color: var(--white);
    display: flex;
    font-size: 14px;
    height:45px;
    justify-content: center;
    position: absolute;
    top: 0;
    width: 100%;
    z-index: 5;
}
.prenav img{
    width: 24px;
    height: 24px;
}
.prenav div{
    display: flex;
    align-items: center;
    margin: 10px 50px;
    gap: 10px;

}
#ico-ubicacion{
    width: 16.35px;
}
/*Nav*/
nav{
    background-color: var(--secondary-color);
    color: var(--white);
    display: flex;
    align-items: center;
    padding-right: 200px;
    height: 100px;
    position: fixed;
    width: 100%;
    top: 45px;
    z-index: 5;
}

.nav2{
    top:0px;
}

nav a{
    color: var(--white);
}
nav p{
    margin-left: 10px;
}
nav ul{
    list-style: none;
    display: flex;
    justify-content: space-around;
    width: 100%;
    font-size: 20px;
}
nav li{
    cursor: pointer;
}

nav li a:hover{
    color: var(--gray);
}

nav .nav__logo{
    display: flex;
    align-items: center;
}

.nav__logo img{
    width: 150px;
    height: 80px;
    margin: 10px;
}

.nav__logo{
    font-size: 20px;
    font-weight: 700;
}

.nav__barrita{
    background-color: var(--white);
    width: 5px;
    height: 80px;
}
/*contenido*/
.contenido{
    max-width: 1200px;
    margin: 0 auto;
}
.contenido section{
    margin:50px 0;
}

/*section main*/

.main{
    /* background-color; */
    margin: 175px 0 30px 0;
    background: linear-gradient(90deg, #FF0000 0%, rgba(255, 0, 0, 0.740888) 32.29%, rgba(255, 0, 0, 0.488095) 61.98%, rgba(255, 109, 109, 0.279695) 99.99%, rgba(255, 255, 255, 0) 100%);
    font-weight: 400;
}

.main article{
    display: flex;
    flex-direction: row;
    align-items: flex-end;
}
.main__title{
    margin: 0 0 30px 50px;
    display: flex;
    flex-direction: column;
    gap: 100px;
}
.main h1{
    font-size: 96px;
}
.main img{
    width: 670px;
    height: 510px;
} 
.main button{
    background-color: var(--dark-red);
    color: var(--white);
    border-radius: 50px;
    border: none;
    font-size: 32px;
    padding: 15px;
    max-width: 230px;
    font-weight: 700;
}

/*Section somos 1*/
.somos{
    display: flex;
    justify-content: center;
    border-width: 0px 0px 10px 10px;
    border-style: solid;
    border-color: var(--border-red);
}
.somos img{
    width: 775px;
    height:720px;
    padding: 20px;
}
.somos__textSomos{
    width:600px;
    padding: 20px;
}
.somos h2{
    font-size: 45px;
    text-align: left;
    color: var(--text-red);
    font-weight: 400;
    line-height:60px;
    margin:20px;
}
.somos__textSomos p{
    font-size: 24px;
    text-align: justify;
    line-height: 40px;
    font-weight: 400;
}
.barras{
    display: flex;
    justify-content:space-between
}
.barras div{
    width: 49%;
    height:10px;
}
.barra1{
    background-color: var(--light-red);
}
.barra2{
    background-color: var(--gray);
}
/*Somos 2*/
.somos2{
    display: flex;
    align-items: end;
    margin: 50px 0;
}
.somos2__BarRed{
    background-color: var(--primary_color);
    width: 100%;
    height: 350px;
    z-index: -1;
    position: absolute;
    margin-bottom: 100px;
}
.somos2__article{
    display: flex;
    justify-content: center;
    margin: 0 auto;
    align-items: center;
}
.somos2__article img{
    width: 600px;
    height: 560px;
    z-index: 1;
    border: solid 20px var(--white);
    border-radius: 10%;
}
.somos2__text p{
    padding: 20px;
    width: 600px;
    color: var(--white);
    font-size: 20px;
    font-weight: 400;
    line-height: 55px;
    z-index: 3;
    margin-bottom: 80px;
}
.somos2 h2{
    text-align: left;
    font-size: 70px;
    line-height: 90px;
    font-weight:400;
    color: var(--text-red)
}
/*Tornillos*/
.tornillos{
    margin: 0 auto;
}
.tornillos h2{
    color: var(--dark-red);
    font-size: 70px;
    text-align:center;
    font-weight: 600;
    line-height:90px;
    margin: 50px 0;
}

.tornillos__article__slide{
    /* width:50%; */
    background:var(--primary_color);
    height:180px;

}
.tornillos__article{
    display: flex;
    justify-content:center;
    align-items:center;
}
.tornillos__article .slides, .tornillos__article .tornillos__text{
    width:50%;
}
.slides{
    display: flex;
    flex-direction:column;
    gap: 150px;
}
.slides p{
    color: var(--text-red);
    font-size: 40px;
}
.slides span{
    font-weight: 700;
}
.tornillos__text p{
    padding:30px;
    text-align: justify;
    font-size: 25px;
    line-height:50px;
    color:var(--black);
}


/*Proveedores*/
.proveedores h2{
    margin: 60px 0 0 30px;
    color: var(--black);
    font-weight: 600;
    font-size: 90px;
    text-align:center;
}

.proveedores__marcas{
    display: flex;
    background-color: var(--opacity-red);
    justify-content: space-evenly;
    padding: 20px 10px;
    flex-wrap: wrap;
    border-radius: 20px;
}
.proveedores__marcas img{
    width: 230px;
    height: 100px;
    margin: 10px 25px;
}
.proveedores p{
    width:80%;
    font-size:32px;
    line-height: 40px;
    text-align:center;
    margin: 50px auto;
}

/*productos*/

.productos h2{

}
.contenido .productos{
    margin-bottom: 0;
}
.barras{
    margin-bottom: 50px;
}
.barras .b1{
    background-color: var(--gray);
    width: 19%;
    height:10px;
}
.barras .b2{
    background-color: var(--light-red);
    width: 59%;
    height:10px;
}
.productos p{
    font-size: 32px;
    line-height: 64px;
    text-align: center;
}
.downtext{
    display: flex;

}
.lateral_bar{
    width:20px;
    height: 310px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.lb1{
    background-color: var(--light-red);
    height:45%;
}
.lb2{
    background-color: var(--dark-red);
    height:45%;
}
/*footer*/
footer{
    /* background-image: url('assets/footerbackground.png'); */
    /* background: rgba(214, 31, 31, 0.5); */
    background: linear-gradient(0deg, rgba(255, 16, 16, 0.6), rgba(255, 16, 16, 0.6)), url('assets/footerbackground.png');
    background-origin: border-box;
    width: 100%;
    background-size: 100% 100%;
    border-width: 40px 0;
    border-style: solid;
    border-color: var(--dark-red);
}
.footer__content{
    display: flex;
    justify-content: space-evenly;
    padding:50px;
    margin: 0 auto;
    max-width: 1200px;
}
.footer__card{
    background: #F08282;
    color: var(--white);
    font-size: 24px;
    text-align:center;
    padding: 30px;
    width: 315px;
    border-radius: 40px;
    display: flex;
    flex-direction:column;
    align-items: center;
    justify-content:center;
    margin:10px;
}
.footer__card:hover{
    background-color: #D94D4D;
}
.footer__card img{
    margin-bottom: 45px;
}
/*Whatsapp img*/
.static-msj{
    background-color: #16BB44;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25), 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 50px 0px 0px 50px;
    display: flex;
    align-items: center;
    position: fixed;
    width: 257px;
    height: 100px;
    right: -147px;
    top: 45px;
    overflow-x: hidden;
    cursor: pointer;
    will-change: transform;
    transition:transform 1s;
    z-index: 6;
}
.static-msj img{
    height: 100px;
    width: 115px;
}
.static-msj:hover{
    transition: transform 1s;
    transform: translateX(-147px);
}
.static-msj h3{
    font-size: 20px;
    line-height: 22px;
    text-align: center;
    color: var(--white);
}
