/*Configuracion*/
@font-face {
    font-family: 'GraphikTT';
    src: url('assets/fonts/GraphikRegular.otf')format('truetype');
    font-style: normal;
    font-weight: normal;
    font-display:swap;
}
@font-face {
    font-family: 'GraphikTT';
    src: url('assets/fonts/GraphikBold.otf')format('truetype');
    font-style: normal;
    font-weight: bold;
    font-display:swap;
}
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'GraphikTT', Arial, sans-serif;
    scroll-behavior: smooth;
    /* overflow-x: hidden; */
}
a{
    text-decoration: none;
    color: var(--white)
}
:root{
    --primary_color: #D61F1F;
    --secondary-color: #BB2016;
    --light-red: #E10000;
    --red-type3:#D61F1F;
    --dark-red:#7D0101;
    --opacity-red:#D94D4D;
    --text-red:#D91919;
    --border-red:#BD1414;
    --gray: #ACB2B5;
    --white:white;
    --black:black;
}
body{
    background-color: var(--white);
    /* padding-top: 145px; */
}
/*prenav*/
.prenav{
    background-color: var(--dark-red);
    color: var(--white);
    display: flex;
    font-size: 14px;
    height:45px;
    justify-content: center;
    position: absolute;
    top: 0;
    width: 100%;
    z-index: 5;
}
.prenav img{
    width: 24px;
    height: 24px;
}
.prenav div{
    display: flex;
    align-items: center;
    margin: 10px 50px;
    gap: 10px;

}
#ico-ubicacion{
    width: 16.35px;
}
.prenav a{
    color: var(--white);
}
.social-media--icon{
    display:none;
}
/*Nav*/
nav{
    background-color: var(--white);
    color: var(--black);
    display: flex;
    align-items: center;
    padding-right: 260px;
    height: 100px;
    position: fixed;
    width: 100%;
    top: 45px;
    z-index: 5;
}

.nav2{
    top:0px;
    height: 50px;
}

nav a{
    color: var(--black);
    padding:5px;
}
.nav__logo__p{
    margin-right: 20px;
}
.nav__logo__p2{
    width:0;
    height:0;
    margin:0;
    opacity: 0;
}
nav ul{
    list-style: none;
    display: flex;
    justify-content:space-between;
    width: 100%;
    font-size: 15px;
}
nav li{
    cursor: pointer;
}
nav li img{
    width:15px;
    height:9px;
}

nav li a:hover{
    color: var(--secondary-color);
    /* color: var(--white);
    background-color: var(--secondary-color);
    border-radius: 10px; */
   
}

.nav__logo{
    display: flex;
    align-items: center;
    font-size: 20px;
    font-weight: 700;
    /* margin-right: 20px; */
}
.nav__logo2{
    width: 300px;
    margin: 10px 20px;
    display: flex;
    justify-content:center;
}

.nav__logo__img{
    width: 150px;
    height: 80px;
    margin: 10px 20px;
}


.logo2{
    width: 100px;
    height: 40px;
}


.nav__barrita{
    background-color: var(--black);
    margin:10px;
    width: 5px;
    height: 80px;
}
.nav__barrita2{
    width: 0;
    height:0;
}
.menuMobile{
    display: none;
}
/*contenido*/
.contenido{
    max-width: 1200px;
    margin: 0 auto;
}
.contenido section{
    margin:50px 0;
}

/*section main*/

.main{
    /* background-color; */
    margin: 150px 0 30px 0;
    background: linear-gradient(90deg, #FF0000 0%, rgba(255, 0, 0, 0.740888) 32.29%, rgba(255, 0, 0, 0.488095) 61.98%, rgba(255, 109, 109, 0.279695) 99.99%, rgba(255, 255, 255, 0) 100%);
    font-weight: 400;
}

.main article{
    display: flex;
    flex-direction: row;
    align-items: flex-end;
}
.main__title{
    margin: 0 20px 30px 50px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    gap: 20px;
}
.main h1{
    font-size: 50px;
}
.main img{
    width: 670px;
    height: 510px;
} 
.main button{
    background-color: var(--dark-red);
    border: none;
    color: var(--white);
    border-radius: 50px;
    font-size: 32px;
    padding: 15px;
    max-width: 230px;
    font-weight: 700;
}

.main button:hover{
    background-color: var(--border-red);
    color: var(--white);
}

/*Section somos 1*/
.somos{
    display: flex;
    justify-content: center;
    border-width: 0px 0px 10px 10px;
    border-style: solid;
    border-color: var(--border-red);
}
.somos img{
    width: 775px;
    height:720px;
    padding: 20px;
}
.somos__textSomos{
    width:600px;
    padding: 20px;
}
.somos h2{
    font-size: 45px;
    text-align: left;
    color: var(--text-red);
    font-weight: 400;
    line-height:60px;
    margin:20px;
}
.somos__textSomos p{
    font-size: 24px;
    text-align: justify;
    line-height: 40px;
    font-weight: 400;
}
.barras{
    display: flex;
    justify-content:space-between
}
.barras div{
    width: 49%;
    height:10px;
}
.barra1{
    background-color: var(--light-red);
}
.barra2{
    background-color: var(--gray);
}
/*Somos 2*/
.somos2{
    display: flex;
    align-items: end;
    margin: 50px 0;
}
.somos2__BarRed{
    background-color: var(--primary_color);
    width: 100%;
    height: 350px;
    z-index: -1;
    position: absolute;
    margin-bottom: 100px;
    box-shadow: 0px 20px 20px rgba(0, 0, 0, 0.25);
}
.somos2__article{
    display: flex;
    justify-content: center;
    margin: 0 auto;
    align-items: center;
}
.somos2__article img{
    width: 600px;
    height: 560px;
    z-index: 1;
    border: solid 20px var(--white);
    border-radius: 10%;
}
.somos2__text p {
    padding: 20px;
    width: 600px;
    color: var(--white);
    font-size: 20px;
    font-weight: 400;
    line-height: 55px;
    z-index: 3;
    margin-bottom: 80px;
}
.somos2 h2{
    text-align: left;
    font-size: 70px;
    line-height: 90px;
    font-weight:400;
    color: var(--text-red)
}
/*Tornillos*/
.tornillos{
    margin: 0 auto;
}
.tornillos h2{
    color: var(--dark-red);
    font-size: 70px;
    text-align:center;
    font-weight: 600;
    line-height:90px;
    margin-top: 50px;
}

.tornillos__article__slide{
    /* width:50%; */
    background:var(--primary_color);
    height:180px;

}
.tornillos__article{
    display: flex;
    justify-content:center;
    align-items:center;
}
.tornillos__article .slides, .tornillos__article .tornillos__text{
    width:50%;
}
.slides{
    display: flex;
    flex-direction:column;
    /* gap: 150px; */
    height: 600px;
    justify-content:space-evenly;
}
.slides p{
    color: var(--text-red);
    font-size: 40px;
}
.slides span{
    font-weight: 700;
}
.tornillos__text p{
    padding:30px;
    text-align: justify;
    font-size: 25px;
    line-height:50px;
    color:var(--black);
}


/*Proveedores*/
.proveedores h2{
    margin: 60px 0 0 30px;
    color: var(--black);
    font-weight: 600;
    font-size: 90px;
    text-align:center;
}

.proveedores__marcas{
    display: flex;
    background-color: var(--opacity-red);
    justify-content: space-evenly;
    padding: 20px 10px;
    flex-wrap: wrap;
    border-radius: 20px;
}
.proveedores__marcas img{
    width: 230px;
    height: 100px;
    margin: 10px 25px;
}
.proveedores p{
    width:80%;
    font-size:32px;
    line-height: 40px;
    text-align:center;
    margin: 50px auto;
}
.barras{
    margin-bottom: 50px;
}
.barras .b1{
    background-color: var(--gray);
    width: 6%;
    height:10px;
}
.barras .b2{
    background-color: var(--light-red);
    width: 86%;
    height:10px;
}
/*productos*/
.productos__title{
    margin: 10px 0 20px 0;
    display: flex;
    justify-content:space-between;
    align-items: center;
}
.productos h2{
    color: var(--text-red);
    font-size: 60px;
    font-weight: 600;
    line-height:40px;
    margin:0 10px;
}
.contenido .productos{
    margin-bottom: 0;
}
.productos__title .b1{
    background-color: var(--dark-red);
    width: 24%;
    height:10px;
}
/* .productos__title .b2{
    background-color: var(--light-red);
    width: 59%;
    height:10px;
} */
.productos p{
    font-size: 32px;
    line-height: 64px;
    text-align: center;
}
.downtext{
    display: flex;
    align-items:center;
}
.lateral_bar{
    width:20px;
    height: 310px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.lb1{
    background-color: var(--light-red);
    height:45%;
}
.lb2{
    background-color: var(--dark-red);
    height:45%;
}
/*maps*/
.maps{
    background-color: var(--dark-red);
    color: var(--white);
    padding:10px;
    display: flex;
    flex-direction:column;
    align-items:center;
}
.maps h3{
    font-weight: 600;
    font-size: 60px;
    line-height:40px;
    text-align:center;
    margin: 20px 0;
}
.maps__mapa{
    width: 1100px;
}
/*footer*/
footer{
    /* background-image: url('assets/footerbackground.webp'); */
    /* background: rgba(214, 31, 31, 0.5); */
    background: linear-gradient(0deg, rgba(255, 16, 16, 0.6), rgba(255, 16, 16, 0.6)), url('assets/footerbackground.webp');
    background-origin: border-box;
    width: 100%;
    background-size: 100% 100%;
    border-width: 40px 0;
    border-style: solid;
    border-color: var(--dark-red);
}
.footer__content{
    display: flex;
    justify-content: space-evenly;
    padding:50px;
    margin: 0 auto;
    max-width: 1200px;
}
.footer__card{
    background: #F08282;
    color: var(--white);
    font-size: 24px;
    text-align:center;
    padding: 20px;
    width: 270px;
    border-radius: 40px;
    display: flex;
    flex-direction:column;
    align-items: center;
    justify-content:center;
    margin:10px;
}
.footer__phone{
    font-size: 20px;
}
.footer__card:hover{
    background-color: #D94D4D;
}
.footer__card img{
    margin-bottom: 45px;
    width: 100px;
    height: 100px;
}
.footer__card__redes-sociales{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
}
.footer__card__redes-sociales img{
    margin-bottom:0;
}
/*Whatsapp img*/
.static-msj{
    background-color: #16BB44;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25), 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 50px 0px 0px 50px;
    display: flex;
    align-items: center;
    position: fixed;
    width: 257px;
    height: 100px;
    right: -147px;
    top: 45px;
    overflow-x: hidden;
    cursor: pointer;
    will-change: transform;
    transition:transform 1s;
    z-index: 6;
}
.static-msj img{
    height: 100px;
    width: 115px;
}
.static-msj:hover{
    transition: transform 1s;
    transform: translateX(-147px);
}
.static-msj h3{
    font-size: 20px;
    line-height: 22px;
    text-align: center;
    color: var(--white);
}

@media(max-width:1199px){
    /* .contenido{
        //max-width: 100%; 
    }
     */
    /*Prenav*/
    .prenav{
        position: absolute;
        /* width: 100%; */
    }
    .prenav p{
        display: none;
    }
    .prenav div{
        margin: 10px 20px;
    }
    .social-media--icon{
        display: block;
    }
    .social-media--icon img{
        width:24px;
        height: 24px;
        fill: white;
    }
    /*nav*/
    nav{
        width: 100%;
        background-color: var(--white);
        flex-direction: column;
        padding: 0;
        margin-top: 60px;
        justify-content: center;
        position: relative;
        top:auto;
    }
    nav .nav__logo{
        content: url('./assets/logoColor.webp');
    }
    .nav__logo2{
        width:auto;
        height:auto;
        margin:0;
    }
    .nav2{
        top:auto;
        z-index: 1;
        height: auto;
    }
    nav ul, .nav__barrita, .nav__logo__p{
        display: none;
    }

    /*MenuMobile*/
    .menuMobile{
        display:flex;
        width: 100%;
        margin:10px 0;
        position: sticky;
        top:0px;
        z-index: 3;
    }
    .menuMobileHead{
        display:flex;
        flex-direction: column;
        width:90%;
        align-items: center;
    }
    .menuMobile__barrita{
        background-color: var(--border-red);
        width: 19%;
        height: 10px;
        margin-top: 20px;
    }

    .menuMobile__btn{
        background-color: var(--opacity-red);
        color: var(--white);
        border: none;
        border-radius: 10px;
        display: flex;
        justify-content:center;
        align-items: center;
        width: 80%;
        padding:10px;
    }
    .menuMobile__btn2{
        border-radius: 10px 10px 0 0;
    }
    .menuMobile__lista{
        list-style: none;
        background-color: var(--opacity-red);
        width:80%;
        border-radius:0 0 10px 10px ;
    }
    .menuMobile__lista__item{
        padding: 5px;
        display:none;
    }
    .menuMobile__lista__item__active{
        padding: 5px;
        display:flex;
    }

    /*main*/
    .main{
        margin: 40px 0;
        background: linear-gradient(0deg, rgba(213, 0, 0, 0.8), rgba(213, 0, 0, 0.8)), url('./assets/image\ 1.webp');
        background-size: cover;
        color: var(--white);
    }
    .main h1{
        font-size: 30px;
    }
    .main__title{
        margin: 10px;
        text-align: center;
        gap: 20px;
    }
    .main img{
        display: none;
    }
    .main article{
        justify-content: center;
    }

    /*somos1*/

    .somos{
        flex-direction: column;
        border: none;
    }

    .somos img{
        width: 100%;
        height: auto;
        content: url('./assets/somos1mobile.webp');
        padding: 5px;
    }
    .somos__textSomos{
        width: auto;
        padding: 0;
    }
    .somos__textSomos p{
        font-size: 18px;
        margin: 0 16px;
    }
    .barras{
        justify-content: center;
        margin-bottom: 20px;
    }
    .barra2{
        display: none;
    }

    .somos h2{
        font-size: 35px;
        text-align: center;
    }

    /*Somos 2*/
    .somos2__BarRed{
        display: none;
    }
    .somos2 h2{
        font-size: 50px;
        text-align: center;
        font-weight: 600;
        color: var(--black);
    }
    .somos2 p{
        background-color: var(--primary_color);
        margin: 0;
        text-align: justify;
    }
    .somos2__text p{
        width: 100%;
    }

    .somos2__article{
        flex-direction: column;
        align-items: unset;
    }
    .somos2__article img{
        width: 100vw;
        height: 100%;
    }
    /*tornillos*/
    .tornillos h2{
        font-size: 50px;
        line-height: unset;
        font-weight: 600;
    }
    .tornillos__article{
        flex-direction: column;
    }
    .slides p{
        font-size: 20px;
    }
    .tornillos__article .slides, .tornillos__article .tornillos__text{
        width:100%;
    }
    /*Proveedores*/
    .proveedores h2{
        font-size: 25px;
        margin: 0 auto;
    }
    .proveedores__marcas{
        padding: 10px 5px;
    }
    .proveedores__marcas img{
        width: 70px;
        height: 50px;
        margin: 5px 10px;
    }
    .proveedores p{
        text-align: justify;
    }
    /*productos*/
    .productos h2{
        font-size: 40px;
        text-align: center;
    }
    .b1{
        display: none;
    }
    .lateral_bar{
        display: none;
    }
    .productos p{
        font-size:22px;
        text-align: justify;
        padding: 0 15px;
        line-height: 25px;
    }
    .productos__title{
        justify-content: center;
    }

    /*Mapa*/
    .maps{
        align-items: stretch;
        background-color: var(--white); 
        padding: 0;
    }
    .maps__mapa{
        width: auto;
        border: solid 20px var(--dark-red);
        border-width: 20px 20px 0 20px;
    }
    .maps h3{
        font-size: 30px;
        color: var(--dark-red);
        
    }

    /*Footer*/

    .footer__content{
        flex-direction: column;
        padding: 0;
    }
    .footer__card{
        flex-direction: row;
        margin:5px;
        width: auto;
        justify-content:flex-start;
        align-items: center;
        font-size: unset;
    }
    .footer__card img{
        width: 45px;
        height: 45px;
        margin-bottom: 0;
    }
    .footer__card p{
        margin: 0 auto;
    }
    .static-msj{
        display: none;
    }
    .redes-sociales{
        flex-direction: column;
        gap: 10px;
    }
}
